<h1><center>자기소개서</center></h1>
<form action='profile/output'>
    이름:<input type='text' name='name'/>
    <input type='submit' value='전송'/>
    나이:<input type='text' name='age'/>
    <input type='submit' value='전송'/>
    취미:<input type='text' name='hobby'/>
    <input type='submit' value='전송'/>
    성별:<input type='text' name='sex'/>
    <input type='submit' value='전송'/>
    연락처:<input type='text' name='num'/>
    <input type='submit' value='전송'/>
    </form>